.navbar {
  border-bottom: #555 1px solid;
  height: 110px;
}
.navbar > div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
}

.navbar__logo, .navbar__logo > img {
  width: 75px;
  height: 75px;
}

.navbar__navigation {
  display: flex;
  align-items: center;
}

.navbar__navigation a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 2px;
  transition: background-color 0.3s;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0px 10px;
  }
}